body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #32c5ff, #413636);    background-size: cover;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-image: linear-gradient(to right, #303030,#32c5ff);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1 {
    text-align: center;
    color: white;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 40%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
p {
    margin: 10px 0;
    color: #c9d1d9;
    line-height: 1.5;
    font-style: italic;
}
strong {
    font-weight: bold;
    color: white;
}
@media only screen and (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        margin: 10px;
        padding: 5px;
    }
    h1 {
        font-size: 24px;
    }
    p, strong {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    #poster {
        width: 100%;
        max-width: 260px;
        display: block;
        margin: 0 auto 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.6;
    }
}