body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #32c5ff, #413636);
    color:black;
}
header {
    background-image: linear-gradient(to right, #32c5ff, #413636);
    border-radius: 20px;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1em;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.hero {
    background-image: linear-gradient(to right, #1c1c1c, #000);
    color: #fff;
    padding: 4em 0;
    text-align: center;
}
.movies-section, .about-section, .contact-section {
   
    padding: 2em 1em;
    text-align: center;
    background-image: linear-gradient(to right, #32c5ff, #413636);
    border: 1px solid #ddd;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 8000px;
}
button {
    background-color:black;
    color: white;
    padding: 2.5px 10px;
    border: black;
    cursor: pointer;
}
button:focus, .menu-icon:focus {
    outline: 2px solid #32c5ff;
    outline-offset: 2px;
}
#searchInput {
    width: 10%;
    padding: 2px;
}
.movie {
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
    width: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.movie img {
    max-width: 100%;
    border-radius: 4px;
}
.movie:hover {
    transform: scale(1.05);
}
.footer {
    background-color: #232f3e;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin-top: 2em;
}
.hero {
    background-image: linear-gradient(to right, #32c5ff, #413636);
    
    color:black;
    text-align: center;
    padding: 4em 0;
}
nav ul {
    background-color: black;
    padding: 1em 0;
    text-align: center;
}
footer {
    background-color: black;
    color:white;
    padding: 1em 0;
    text-align: center;
    margin-top: 2em;
}
.movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-poster {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s;
}
.resultCard {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 200px; 
    margin: 10px; 
    transition: transform 0.3s;
} 
.resultCard img {
    width: 200px; 
    height: 300px;
    border-radius: 5px; 
    transition: transform 0.3s;
}
.movie-poster:hover {
    transform: scale(1.1);
}
.resultCard:hover {
    transform: scale(1.1);
}

